@import "./base/core";

* {
   font-family: $primaryFont;
}
body{
   margin: 0px;
   height: 100vh;
   width:100vw;
   box-sizing: border-box;
   overflow-x: hidden;

}
*::-webkit-scrollbar {
   width: 0.5em;
   height: 0.5em;
   background-color: $black-theme-light;
 }
  
 *::-webkit-scrollbar-thumb {
   background-color: $icon-color;
   border-radius: 4px;
 }
header{
   position:fixed;
   top: 0px;
   left: 0px;
   z-index: 1;
   width: 100vw;
   height:56px;
   box-sizing: border-box;
   display:flex;
   align-items: center;
   justify-content: space-between;
   background-color:$blackthema-light-opacity;
   padding:12px 16px;


}
.content{
   display: flex;
   margin-top: $header;
}
button{
   background-color: transparent;
   border: none;
}
.menu-logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.menu{
   margin-right: 24px;
}
.search{
   display: flex;
   align-items: center;
    width: 38%;
}
input{
   width: 90%;
   height:32px;
   border: 1.18px $bordor-color;
   border-radius: 2px 0px 0px 2px;
   background:$blacktheme-dark;
}
.search-icon{
   
   display: block;
   width: 50px;
   height: 32px;
   background-color:$bordor-color;
   border-radius: 0px 2px 2px 0px;
   color:$icon-color;
   text-decoration-color:$icon-color ;
}
   .icon{
      margin-left: 8px;
   }

.icon-photo{
   margin-left: 16px;
}

  

.end-icons{
   display: flex;
   align-items: center;
   justify-content: space-between;}
   

.search-icn{
   display: none;
}
aside{
   position: fixed;
   left: 0px;
   top:$header;
   height:calc(100vh - #{$header});
   width:240px;
   background-color: $black-theme-light;
   overflow-y:scroll;
   z-index: 3;
}
.home-first{
   padding:$s 0px $s 0px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid $bordor-color;

   
}
.home-second{
   padding:$s 0px $s 0px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid $bordor-color;
}


.home p{
   text-overflow: ellipsis;
   overflow: hidden; 
   width: 128px; 
   white-space: nowrap;

}
.sidebar{
   position:fixed;
   top:56px;
   left:0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   background-color: $black-theme-light;
   height:calc(100vh - #{$header});
   width: 72px;

}
.sidebar img{
   margin-bottom: 6px;
}

.sidebar button{
   width: 100%;
   padding: 16px 0px 14px;
   color: $icon-color;
   font-size: 10px;
}
.home{
   display: flex;
   align-items: center;
   padding:$left-nav-padding;
   font-family:$primaryFont;
   color: $icon-color-fill;
   font-size:$m;
   width: 100%;
   height: 40px;

}
.home:hover{
   background-color: $bordor-color;
}
.home-img{
   margin-right: $xxxl;
}
.subscriptions{
   display: flex;
   width: 100%;
   color: $icon-color;
   padding: 8px 24px;
   font-family: $primaryFont;
   font-size: $m;
   font-weight:bold;
   text-transform: uppercase;

}

.subscription-list{
   display: flex;
   align-items: center;
}
.subscription-icon{
   padding: 8px 36px 8px 24px;
   display:flex;
   align-items: center;
   width: 100%;
   height: 40px;
   color: $white;
   font-size: 14px;
}
.subscription-icon:hover{
   background-color: #90909075;
}
.new-one{
   margin-left: 40px;
}
.header-video{
   width:100% ;
   display:flex ;
   flex-direction:column;
}
.under-header{
   position: fixed;
   z-index: 2;
   top: $header;
   box-sizing: border-box;
   left:$aside;
   height:58px;
   width:calc(100vw - 240px);
   background-color:$blackthema-light-opacity;
   display:flex;
   padding: 14px 24px;
   align-items: center;
    overflow-x: scroll;
    border: 1px solid $bordor-color;
   
}
.filter{
   
   background-color: $bordor-color;
   font-size: 14px;
   padding: 7px 12px 7px 12px;
   color: $white;
   border: 1px solid #424242;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 16px;
   margin-left:12px;
   box-sizing: border-box;
   max-height: 33px;
   white-space: nowrap;
   
}
.filter:hover{
   background-color: #575353;
   transition: 0.7s;
}
.video-page{
   display: flex;
   flex-direction: column;
   // justify-content: space-between;
   position: relative;
   top: 50px;
   left:$aside;
    background-color:$blacktheme-dark;
   box-sizing: border-box;
   padding:32px;
   width: calc(100vw - 240px);
   // min-height:calc(100vh - 112px);
   // height: max-content;
   height: 1000px
   // box-sizing: border-box;

}
.sidebar button:hover{
   background-color: #90909075;

}
.row1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 270px;
   box-sizing: border-box;
   flex-wrap: wrap;
}



.video{
   width: 24%;
  
}

.video img {
   max-width: 100%;
}
.video-description{
   display: flex;
   align-items: center;
   
   padding: 12px 23px 14px 0px;
}
.icon-for-video{
   padding-bottom: 30px;
   padding-right: 5px;


}
.video-page img{
   max-width: 100%;
}
.text-description{
   display: flex;
   flex-direction: column;
}
a{
   text-decoration: none;
   color:$icon-color;
}
.video-name{
   margin:0px;
   color:$white;
   text-overflow: ellipsis;
   overflow: hidden; 
   width: 230px; 
   white-space: nowrap;
}
.number-of-views{
   margin: 0px;
   color: $icon-color;

}
@media(max-width:1300px){
   .video-name{
      text-overflow: ellipsis;
      overflow: hidden; 
      width: 200px; 
      white-space: nowrap;}
}
@media(max-width:1141px){
   .video{
      width: 33%;
   }
   aside{
      display: none;
   }
   .under-header{
      position: fixed;
      z-index: 2;
      box-sizing: border-box;
      top: $header;
      left:$sidebar;
      height:58px;
      width:calc(100vw - 72px);
      background-color:$blackthema-light-opacity;
      display:flex;
      padding: 14px 24px;
      align-items: center;
       overflow-x: scroll;
       border: 1px solid $bordor-color;
}
.number-of-views{
   text-overflow: ellipsis;
   overflow: hidden; 
   width: 120px; 
   white-space: nowrap;
}
.video-page{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   top:$header;
   left:72px;
    background-color:$blacktheme-dark;
   box-sizing: border-box;
   padding:32px;
   width: calc(100vw - 68px);
   height: 2500px;
}


}
@media(max-width:890px){
   .video{
      width: 48%;}}

@media(max-width:656px){
   .search{
      display: none;
   }
   .search-icn{
      display: block;}

   }
   
   @media(max-width:590px){
      .video{
         width: 98%;}

   }
   
