@import "./base/core";

* {
   font-family: $primaryFont;
}
body{
   margin: 0px;
   height: 100vh;
   width:100vw;
   box-sizing: border-box;
   overflow-x: hidden;

}
header{
   position:fixed;
   top: 0px;
   left: 0px;
   z-index: 1;
   width: 100vw;
   height:56px;
   box-sizing: border-box;
   display:flex;
   align-items: center;
   justify-content: space-between;
   background-color:$blackthema-light-opacity;
   padding:12px 16px;


}
.content{
   display: flex;
   margin-top: $header;
}
button{
   background-color: transparent;
   border: none;
}
.menu-logo{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.menu{
   margin-right: 24px;
}
.search{
   display: flex;
   align-items: center;
    width: 38%;
}
input{
   width: 90%;
   height:32px;
   border: 1.18px $bordor-color;
   border-radius: 2px 0px 0px 2px;
   background:$blacktheme-dark;
}
.search-icon{
   
   display: block;
   width: 50px;
   height: 32px;
   background-color:$bordor-color;
   border-radius: 0px 2px 2px 0px;
   color:$icon-color;
   text-decoration-color:$icon-color ;
}
   .icon{
      margin-left: 8px;
   }

.icon-photo{
   margin-left: 16px;
}

  

.end-icons{
   display: flex;
   align-items: center;
   justify-content: space-between;}
   

.search-icn{
   display: none;
}
aside{
   position: fixed;
   left: 0px;
   top:$header;
   height:calc(100vh-${header});
   width:240px;
   background-color: $black-theme-light;
   overflow-y:scroll;
}
.home-first{
   padding:$s 0px $s 0px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid $bordor-color;

   
}
.home-second{
   padding:$s 0px $s 0px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid $bordor-color;
}
.home{
   display: flex;
   align-items: center;
   padding:$left-nav-padding;
   font-family:$primaryFont;
   color: $icon-color-fill;
   font-size:$m;
   width: 100%;
   height: 40px;

}
.home-img{
   margin-right: $xxxl;
}
.subscriptions{
   display: flex;
   width: 100%;
   color: $icon-color;
   padding: 8px 24px;
   font-family: $primaryFont;
   font-size: $m;
   font-weight:bold;
   text-transform: uppercase;

}


.header-video{
   width:100% ;
   display:flex ;
   flex-direction:column;
}
.under-header{
   position: fixed;
   top: $header;
   left:$aside;
   height:58px;
   width:calc(100vh- 240px);
   background-color:$blackthema-light-opacity;
   display:flex;
   padding: 14px 24px;
   align-items: center;
    overflow-x: scroll;
    border: 1px solid $bordor-color;
   
}
.filter{
   
   background-color: $bordor-color;
   font-size: 14px;
   padding: 7px 12px 7px 12px;
   color: $white;
   border: 1px solid #424242;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 16px;
   margin-left: $s;
   box-sizing: border-box;
}

.video-page{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   top: 89px;
   left:240px;
    background-color:$blacktheme-dark;
   box-sizing: border-box;
   padding:32px;
}
.video{
   width: 25%;
   margin-left: 10px;
}

@media(max-width:656px){
   .search{
      display: none;
   }
   .search-icn{
      display: block;}

}
   
